@import "~fw/css/variables.scss";

.accounts-container {
    height: 100% !important;
}

.alias-separator {
    border-color: rgba(120,120,120,1) !important;
    border-width: 0.5px;
    margin-top: 0;
}

.accounts-container-left {
    height: 100%;
    background: $accounts_background;
    z-index: 999;
    margin-bottom: 0;
    box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.1);
    opacity: 0.9;

    .home-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $main_white;
        cursor: pointer;
        font-size: 23px;
        opacity: 0.5;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    .home-btn.disabled {
        pointer-events: none;
    }
}

.accounts-container-left .balance-container {
    text-align: center;
    padding: 40px 0;
}

.accounts-container-left .balance-container .your-balance-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(127, 178, 236);
    text-shadow: 0 0 50px #888;
    font-size: 17px;
}

.accounts-container-left .balance-container .your-balance-amount {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: $main_white;
    margin-top: -10px;
    text-shadow: 0 0 50px #888;
}

.accounts-container-left .sync-loader {
    float: right;
    margin-top: 10px;
    cursor: pointer;
    padding-right: 15px;
}

.aliases-container {
    height: unquote("calc(100% - 265px)");
    overflow-y: scroll;
    overflow-x: hidden;
    background: $accounts_alias_background;
}

.your-aliases-text {
    display: inline-block;
    width: 80%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: $main_blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.aliases-container::-webkit-scrollbar {
    width: 0.5em;
}
 
.aliases-container::-webkit-scrollbar-thumb {
    background-color: $main_background;
    margin-top: 5px;
    outline: 1px solid slategrey;
    border-radius: 30px;
}

.aliases-container::-webkit-scrollbar-button:vertical:decrement {
    height: 2px;
}
.aliases-container::-webkit-scrollbar-button:vertical:increment {
    height: 2px;
}

.alias-box {
    padding-top: 9px;
    padding-bottom: 9px;
    z-index: 11;
    cursor: pointer;
}

.alias-box.non-expanded {
    padding-left: 20px;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.alias-box.non-expanded.loading {
    opacity: 0.2;
    cursor: wait;
}

.alias-box.expanded {
    background: $main_background;
    padding: 10px 0;
    position: sticky;
    width: 100%;
    transition: opacity 0.3s;
    cursor: default;
}

.alias-box.expanded:hover {
    opacity: 0.9;
}

.alias-box.expanded .alias-text-container {
    padding-top: 3.2%;
}

.alias-box.expanded .alias-text-container.address {
    padding: 15px 0 15px 30px;
}

.alias-box .alias-img-container {
    padding-right: 2%;
    margin-top: 2px;
}

.alias-box .alias-img {
    border-radius: 50%;
    width: 100%;
}

.alias-box .alias-img.tiny-img {
    width: 20%;
}

.alias-box:hover {
    opacity: 0.8;
}

.alias-box .alias-type {
    font-weight: bold;
    color: $title_color;
    font-weight: 400;
    font-size: 12px;
}

.alias-box .alias-name {
    font-weight: 400;
    font-size: 14px;
    color: $main_white;
}

.alias-box .alias-name.trim {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 220px;
    white-space: nowrap;
}

.alias-box .alias-name .alias-toolbox {
    float: right;

    i {
        cursor: pointer;
        color: $main_white;
    }
}

/* Right column */

.accounts-container-right {
    position: relative;
    overflow-y: scroll;
    height: 93%;

    .send-button {
        span {
            color: $main_white;
            font-weight: 500;
            font-size: 13px;
        }
        background: $asset_box_background;
        border-color: $main_white;
        text-transform: uppercase;
        height: auto;
        padding: 0px 10px;

        &:hover {
            border-color: $full_white;
        }
    }
}

.wallet-summary-container {
    padding-bottom: 100px;
    
    .wallet-summary-title {
        margin-top: 20px;
        color: $main_white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .fw-table-pagination-page {
        color: $main_white;
        margin-right: 10px;
    }

    .wallet-summary-balance-container {
        .wallet-summary-balance-title {
            color: $main_white;
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 0;

            .dashboard-refresh {
                font-size: 15px;
                cursor: pointer;
                position: relative;
                bottom: 3px;
                color: $main_blue;
            }
        }

        .wallet-summary-balance-number {
            color: $main_white;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 2px;

            .wallet-summary-balance-send-btn {
                transform: scale(0.8);
                position: relative;
                bottom: 2px;
            }
        }
    }

    & > hr {
        margin: 20px 0;
    }

    

    .fw-table-pagination-container {
        float: right;

        button {
            background: transparent;
            border-color: $main_white;
            margin-left: 5px;

            i {
                color: $main_white;
            }

            &:hover {
                background: transparent;
                
                i {
                    color: #fff;
                }
            }
        }

        button.disabled {
            opacity: 0.5;
        }
    }
}

.accounts-container-right .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.accounts-container-right .loading-container i {
    position: relative;
    right: 30px;
    bottom: 10px;
    font-size: 80px;
    color: $main_blue;
}

.accounts-container-right::-webkit-scrollbar {
    width: 0.8em;
}
 
.accounts-container-right::-webkit-scrollbar-thumb {
    background-color: $accounts_background;
    margin-top: 5px;
    outline: 1px solid slategrey;
    border-radius: 30px;
}

.accounts-container-right::-webkit-scrollbar-button:vertical:decrement {
    height: 4px;
}
.accounts-container-right::-webkit-scrollbar-button:vertical:increment {
    height: 4px;
}

.asset-box {
    cursor: pointer;
    padding: 10px;
    border: 0.5px solid $asset_box_border;
    border-radius: 2px;
    background: $asset_box_background;
    opacity: 0.6;
    line-height: 13px;
    transition: opacity 0.5s;
    margin-bottom:10px;

    .asset-box-send {
        position: absolute;
        bottom: 13px;
        right: 10px;
        pointer-events: all;
    }

    .asset-box-settings {
        color: $main_white;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
        pointer-events: all;
    }
}

.asset-box.selected {
    opacity: 1;
    pointer-events: none;
}

.asset-box-container {
    margin-top: 30px;

    & .available-assets-no-asset {
        color: $main_white;
    }
}

.asset-box-container .asset-box-text {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $title_color;
}

.asset-box:hover {
    opacity: 1;
}

.asset-box .asset-box-name {
    font-size: 20px;
    margin-bottom: 8px;
    color: $main_white;
}

.asset-box .asset-box-guid {
    color: $asset_box_guid;
    font-style: italic;
    font-size: 12px;
}

.asset-box .asset-box-balance {
    font-weight: bold;
    font-size: 15px;
}

.asset-box h2,
.asset-box h3,
.asset-box h4,
.asset-box h5 {
    color: $title_color;
}

.transactions-table-title {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $title_color;
    margin-top: 40px;
    margin-bottom: 0
}

.transactions-table {
    margin-top: 10px;
    margin-bottom: 20px;
}

.transactions-table .ant-table-thead th {
    background: transparent;
}

.transactions-table .ant-table-thead th span {
    color: $main_white;
    font-weight: 500;
}

.transactions-table .transactions-table-row td .amount.incoming {
    color: $main_green;
}

.transactions-table .transactions-table-row td .amount.outgoing {
    color: $main_red;
}

.transactions-table .transactions-table-row td .arrow.incoming {
    color: $main_green;
}

.transactions-table .transactions-table-row td i.arrow.outgoing {
    color: $main_red;
}

.transactions-table .transactions-table-row td span {
    color: $main_white;
}

.transactions-table .transactions-table-row:hover td {
    background: transparent;
}

.transactions-table .ant-pagination-item {
    background: transparent;
    border: 1px solid $main_white;
}

.transactions-table .ant-pagination-item a {
    color: #fff;
    opacity: 0.5;
}

.transactions-table .ant-pagination-item-active a {
    color: #fff;
    opacity: 1;
}

.transactions-table .ant-table-placeholder {
    background: transparent;
    color: $main_white;
}

.sys-logo-bg {
    opacity: 0.7;
    margin: auto;
    position: fixed;
    top: 40px; left: 37%; bottom: 0; right: 0;
}

.ant-pagination-jump-next,
.ant-pagination-jump-prev {
    &::after,
    &::before {
        color: $main_white;
    }

    &:hover {
        color: $main_white;
    }
}

.token-table-info, .token-table-actions {
    color: $main_blue;
    position: relative;
    font-size: 19px;
}

.token-table-actions {
    margin-right: 10px;
    cursor: pointer;
}

.alias-info-container {
    padding: 0 5px 0 5px;
    margin-bottom: 25px;
    margin-top: 30px;

    & .alias-info-text-container {
        padding-right: 25px;
    }

    & h3 {
        color: $main_white;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 20px;
    }

    & hr {
        margin-bottom: 16px;
    }

    & p, & span {
        line-height: 0.5;
        font-size: 14px;
        color: $main_white;
    }

    & span {
        color: $main_blue;
    }

    & .alias-info-alias-avatar {
        width: 100%;
        height: auto;
    }
}
